#bannerimage {
  width: 100%;
  background-image: url('printerbanner.jpg');
  height: 590px;
  background-position: center;
  background-repeat: no-repeat;
}
.quote {
  display: inline-block;
  background-image: url("quote.png");
  width:400px;
  height:550px;
  font-size: 16px;
  margin-left: 180px;
}
h4{
  padding-top: 80px;
}
h3{
  padding-bottom: 130px;
}
h5{
  font-size:16px;
}
h6{
  font-size: 18px;
}
.bio{
  display: inline-block;
  vertical-align: top;
  padding-left: 160px;
  font-size: 25px;
  width:690px
}
